<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

    <div class="card" th:each="i : ${items}">
        <img src="https://placehold.co/300">
        <div>
            <h4 th:text="${i.title}">바지</h4>
            <p th:text="${i.price}">7억</p>
        </div>
    </div>
    <div>
        <form id="frm" action="inser.do">
        <input type="text" name="title" id="title" value="" title="제품명"/>
        <input type="text" name="price id="price" value="" title="가격"/>
        <input type="submit" name="" id="" value="" title="등록">
        </form>
    </div>

    <p>123123</p>
    <a href="insert"> 등록</a>
</body>

